* {
    background-color: azure;
}
.welcome h1 {
    color: darkturquoise;
    font-family: sans-serif;
}
.pages li {
    font-family: sans-serif;
    color: blanchedalmond;
}
#figure {
    font-family: sans-serif;
    color: darkturquoise;
}

#second {
    font-family: sans-serif;
    color: darkturquoise;
}
.form {
    font-family: sans-serif;
    color: darkseagreen;
}
.pasta {
    font-family: sans-serif;
    color: cadetblue;
    text-align: left;
}

#informationaboutpasta {
    font-family: sans-serif;
    color: cadetblue;
    text-align: right;
}
#pastatypes {
    font-family: sans-serif;
    color: cadetblue;
}

#figure img,
#pastafoto img,
.pastavarieties img {
   width: 100%;
}

.current-page{
    color: darkgrey;
}